doctype html
html.docs-page(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='./images/favicon.png')
    link(href='./css/style.css' rel='stylesheet')
    title #{name}
  body
    // ENTIRE BROWSER VIEW AREA
    #viewport.d-flex.flex-column.vh-100

      // PAGE HEADER
      #header-row.d-flex.flex-row.border.navbar.fixed-top.align-items-stretch
        #logo-container.d-flex.flex-wrap.align-items-center
          a(href="https://eluv.io" target="_blank")
            img.m-1(src='./images/logo.png')
        #title-container.nav.d-flex.flex-wrap.align-items-stretch
          ul.nav
            li.nav-link#project-name
              strong= packageJSON.name
              span#version.ms-1 v#{packageJSON.version}
            li.nav-link.active-header-tab#nav-home-li
              a#nav-home(href='#') Home
            li.nav-link#nav-api-li
              a#nav-api(href='./api.html') API Documentation
        #header-space-fill.flex-fill
        #github-link-container
          ul.nav
            li.nav-link
              a(href=packageJSON.repository.url target="_blank") Github

      // LOWER PANE

      #readme-container.d-flex.flex-col.flex-fill.justify-content-center
        #readme !{opts.readme}

