doctype html
html.docs-page(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='./images/favicon.png')
    link(href='./css/style.css' rel='stylesheet')
    title #{name}
  body
    // ENTIRE BROWSER VIEW AREA
    #viewport.d-flex.flex-column.vh-100

      // PAGE HEADER
      #header-row.d-flex.flex-row.border.navbar.fixed-top.align-items-stretch
        #logo-container.d-flex.flex-wrap.align-items-center
          img.m-1(src='./images/logo.png')
        #title-container.nav.d-flex.flex-wrap.align-items-stretch
          ul.nav
            li.nav-link#project-name
              strong= packageJSON.name
              span#version.ms-1 v#{packageJSON.version}
            li.nav-link.active-header-tab#nav-home-li
              a#nav-home(href='#') Home
            li.nav-link#nav-api-li
              a#nav-api(href='#') API Documentation
        #header-space-fill.flex-fill
        #github-link-container
          ul.nav
            li.nav-link
              a(href=packageJSON.repository.url target="_blank") Github

      // LOWER PANE
      #readme-container.d-flex.flex-col.flex-fill.justify-content-center(style='visibility: visible')
        #readme !{opts.readme}
      #content-area.d-flex.flex-row.flex-fill.overflow-hidden(style='visibility: collapse')

        // SIDEBAR
        #sidebar.d-flex.flex-column.flex-shrink-0.border
          // SIDEBAR FILTER CONTROLS
          #filter-controls.d-flex.flex-column.border-bottom
            form
              .m-2.d-flex.flex-row
                .form-control
                  input#filter-text(
                    type='search'
                    tabindex='1'
                    autofocus
                    data-bind='textInput: filter'
                    autocomplete='false'
                    placeholder='Filter'
                  )
                  span#clear-filter-icon
                    img(src='./images/x-circle.svg')
                  span#search-icon
                    img(src='./images/search.svg')
              .m-2
                .form-check.ms-1
                  input#show-private.form-check-input(
                    tabindex='2'
                    type='checkbox'
                    data-bind='textInput: showPrivate'
                  )
                  label.form-check-label(for='show-private') Show private

          // SIDEBAR ITEM LIST
          #toc.d-flex.flex-fill.flex-column
            ul.nav.list-group
              each doc in docs
                li.list-group-item-action.toc-entry(
                  data-name=doc.name
                  data-category=doc.category
                  data-access=doc.access
                  display=doc.access === 'private' ? 'none' : ''
                )
                  a(href=`#${doc.name}`) #{doc.name}&nbsp;&nbsp;
                    span.label.label-category(
                      data-category=doc.category
                    )= doc.category

        // MAIN CONTENT
        #detail-entries.d-flex.flex-fill.flex-column.flex-grow-0.border-start.overflow-auto
          each doc in docs
            .section-id(id=doc.name)
            .card(
              data-name=doc.name
              data-access=doc.access
              data-category=doc.category
              display=doc.access === 'private' ? 'none' : ''
            )
              h2
                a.name(tabindex='3' href=`#${doc.name}`)= doc.name
                a.source-code-link(
                  target="_blank"
                  title='View source on GitHub'
                  href=`${packageJSON.repository.url}/blob/v${packageJSON.version}${doc.filePath}#L${doc.lineno}`
                )
                  img(src='./images/box-arrow-up-right.svg')
                span.label-category-big(
                  data-category=doc.category
                )= doc.category

              if doc.deprecated
                .deprecated Deprecated #{doc.deprecated}

              each sig in doc.sigs
                .sig-container: code.sig #{sig}

              if doc.returns.type
                .params(data-expanded='false')
                  a.toggle-params(href='#expand') Parameters
                  .details.panel.panel-default
                    ul.list-group
                      each param in doc.params
                        li.list-group-item
                          strong
                            each t, index in param.type
                              = t === '*' ? 'Any' : t
                          code.ms-2.param-name= param.name
                          span.ms-1.description !{param.description}
                      li.list-group-item
                        em Returns:
                        strong.ms-1= doc.returns.type
                        span.ms-1.description !{doc.returns.description}

              if doc.since
                p: small: em Added in #{doc.since}

              .description !{doc.description}

              if doc.see && doc.see.length > 0
                p.see See also
                  each s, index in doc.see
                    a(href=`#${s}`)= ` ${s}${index !== 0 && index !== (doc.see.length - 1) ? ',' : ''}`

              if doc.example
                pre: code.hljs.javascript !{doc.example}


  //script(src='./js/bootstrap.bundle.js')
  script(src='./js/ramda.min.js')
  script(src='./js/main.js')
